In [2]:
base_folder = r"C:\Users\tre_i\LBNL FDD Datasets"

In [3]:
dataset_folder = 'LBNL_FDD_Data_Sets_Boiler_Plant_all_3'

In [4]:
import os
from os.path import join
import pandas as pd

In [5]:
folder = join(base_folder, dataset_folder)
os.listdir(folder)

['LBNL FDD Data Sets_Boiler Plant.pdf',
 'LBNL_FDD_Dataset_Boiler_Plant',
 'LBNL_FDD_Data_Sets_Boiler_Plant_ttl.ttl']

In [8]:
data_folder = join(folder, 'LBNL_FDD_Dataset_Boiler_Plant')
sorted(os.listdir(data_folder))

['BoilerPlant.csv',
 'BoilerPlant_boiler_PI.csv',
 'BoilerPlant_boiler_bias_-2.csv',
 'BoilerPlant_boiler_bias_-4.csv',
 'BoilerPlant_boiler_bias_2.csv',
 'BoilerPlant_boiler_bias_4.csv',
 'BoilerPlant_boiler_foul_065.csv',
 'BoilerPlant_boiler_foul_080.csv',
 'BoilerPlant_boiler_foul_095.csv',
 'BoilerPlant_hot_water_pressure_bias_-10.csv',
 'BoilerPlant_hot_water_pressure_bias_-20.csv',
 'BoilerPlant_hot_water_pressure_bias_10.csv',
 'BoilerPlant_hot_water_pressure_bias_20.csv',
 'BoilerPlant_hot_water_temp_bias_-2.csv',
 'BoilerPlant_hot_water_temp_bias_-4.csv',
 'BoilerPlant_hot_water_temp_bias_2.csv',
 'BoilerPlant_hot_water_temp_bias_4.csv']

In [16]:
len(sorted(os.listdir(data_folder)))

17

In [17]:
data_normal = pd.read_csv(join(data_folder, 'BoilerPlant.csv'))
data_normal.head()

,Datetime,BOI_FLOW_1,BOI_FLOW_2,BOI_GAS_CSUM_1,BOI_GAS_CSUM_2,BOI_RW_TEMP_1,BOI_RW_TEMP_2,BOI_STA_1,BOI_STA_2,BOI_SW_TEMP_1,...,HWL_RW_TEMP,HWL_SW_TEMP,OA_TEMP,PM_POW_1,PM_POW_2,PM_SPD_1,PM_SPD_2,PM_STA_1,PM_STA_2,SEC_POW
0,2018-01-01 01:00:00,364.566101,0.00068,1726.88233,0.0,99.939835,68.002411,1.0,0.0,124.927963,...,112.734955,124.921814,9.070051,11.446084,11.446084,1.0,1.0,1.0,1.0,501.202392
1,2018-01-01 01:01:00,364.566101,0.00068,1726.88233,0.0,100.435318,68.002525,1.0,0.0,125.432343,...,113.130737,125.426247,8.771828,11.446084,11.446084,1.0,1.0,1.0,1.0,501.943166
2,2018-01-01 01:02:00,364.566101,0.00068,1726.88233,0.0,100.927284,68.002640,1.0,0.0,125.931839,...,113.536903,125.925797,8.786055,11.446084,11.446084,1.0,1.0,1.0,1.0,503.352647
3,2018-01-01 01:03:00,364.566101,0.00068,1726.88233,0.0,101.416176,68.002747,1.0,0.0,126.427155,...,113.955147,126.421173,8.800337,11.446084,11.446084,1.0,1.0,1.0,1.0,503.194593
4,2018-01-01 01:04:00,364.566101,0.00068,1726.88233,0.0,101.902542,68.002853,1.0,0.0,126.918961,...,114.381531,126.912971,8.814619,11.446084,11.446084,1.0,1.0,1.0,1.0,503.895945

In [18]:
data_normal.tail()

,Datetime,BOI_FLOW_1,BOI_FLOW_2,BOI_GAS_CSUM_1,BOI_GAS_CSUM_2,BOI_RW_TEMP_1,BOI_RW_TEMP_2,BOI_STA_1,BOI_STA_2,BOI_SW_TEMP_1,...,HWL_RW_TEMP,HWL_SW_TEMP,OA_TEMP,PM_POW_1,PM_POW_2,PM_SPD_1,PM_SPD_2,PM_STA_1,PM_STA_2,SEC_POW
525535,2018-12-31 23:55:00,0.000005,5.213024e-14,0.0,0.0,140.071411,139.858337,1.0,0.0,177.195358,...,142.900055,177.159607,19.845772,0.000013,-2.803801e-14,0.288676,0.0,1.0,0.0,31.097649
525536,2018-12-31 23:56:00,0.000005,5.213024e-14,0.0,0.0,140.071411,139.858337,1.0,0.0,177.195358,...,142.900055,177.159607,19.817920,0.000013,-2.803801e-14,0.288676,0.0,1.0,0.0,12.611910
525537,2018-12-31 23:57:00,0.000005,5.213024e-14,0.0,0.0,140.071411,139.858337,1.0,0.0,177.195358,...,142.900055,177.159607,19.790016,0.000013,-2.803801e-14,0.288676,0.0,1.0,0.0,12.165314
525538,2018-12-31 23:58:00,0.000005,5.213024e-14,0.0,0.0,140.071411,139.858337,1.0,0.0,177.195358,...,142.900055,177.159607,19.762110,0.000013,-2.803801e-14,0.288676,0.0,1.0,0.0,12.179164
525539,2018-12-31 23:59:00,0.000005,5.213024e-14,0.0,0.0,140.071411,139.858337,1.0,0.0,177.195358,...,142.900055,177.159607,19.734203,0.000013,-2.803801e-14,0.288676,0.0,1.0,0.0,12.283902

In [19]:
from datetime import datetime

In [20]:
print(f"Min Datetime: {min(data_normal.Datetime)}")
print(f"Max Datetime: {max(data_normal.Datetime)}")
print(f"Interval between measurements: {datetime.strptime(data_normal.Datetime[1], '%Y-%m-%d %H:%M:%S') - datetime.strptime(data_normal.Datetime[0], '%Y-%m-%d %H:%M:%S')}")
print(f"Number of measurements: {len(data_normal.index)}")
print(f"Number of features: {len(data_normal.columns) - 1}")

Min Datetime: 2018-01-01 01:00:00
Max Datetime: 2018-12-31 23:59:00
Interval between measurements: 0:01:00
Number of measurements: 525540
Number of features: 22

In [21]:
print("Features:")
print('\n'.join(sorted([el for el in data_normal.columns if el != 'Datetime'])))

Features:
BOI_FLOW_1
BOI_FLOW_2
BOI_GAS_CSUM_1
BOI_GAS_CSUM_2
BOI_RW_TEMP_1
BOI_RW_TEMP_2
BOI_STA_1
BOI_STA_2
BOI_SW_TEMP_1
BOI_SW_TEMP_2
HWL_DP
HWL_DPSPT
HWL_RW_TEMP
HWL_SW_TEMP
OA_TEMP
PM_POW_1
PM_POW_2
PM_SPD_1
PM_SPD_2
PM_STA_1
PM_STA_2
SEC_POW