In [1]:
base_folder = r"C:\Users\tre_i\LBNL FDD Datasets"

In [2]:
dataset_folder = 'LBNL_FDD_Data_Sets_FCU_all_3'

In [3]:
import os
from os.path import join
import pandas as pd

In [4]:
folder = join(base_folder, dataset_folder)
os.listdir(folder)

['LBNL_FDD_Dataset_FCU',
 'LBNL_FDD_Data_Sets_FCU.pdf',
 'LBNL_FDD_Data_Sets_FCU_ttl.ttl']

In [5]:
data_folder = join(folder, 'LBNL_FDD_Dataset_FCU')
sorted(os.listdir(data_folder))

['FCU_Control_CoolingReverse.csv',
 'FCU_Control_HeatingReverse.csv',
 'FCU_Control_Unstable.csv',
 'FCU_FanOutletBlockage.csv',
 'FCU_FaultFree.csv',
 'FCU_FilterRestriction_10%.csv',
 'FCU_FilterRestriction_20%.csv',
 'FCU_FilterRestriction_50%.csv',
 'FCU_Fouling_Cooling_Airside_Minor.csv',
 'FCU_Fouling_Cooling_Airside_Moderate.csv',
 'FCU_Fouling_Cooling_Airside_Severe.csv',
 'FCU_Fouling_Cooling_Waterside_Minor.csv',
 'FCU_Fouling_Cooling_Waterside_Moderate.csv',
 'FCU_Fouling_Cooling_Waterside_Severe.csv',
 'FCU_Fouling_Heating_Airside_Minor.csv',
 'FCU_Fouling_Heating_Airside_Moderate.csv',
 'FCU_Fouling_Heating_Airside_Severe.csv',
 'FCU_Fouling_Heating_Waterside_Minor.csv',
 'FCU_Fouling_Heating_Waterside_Moderate.csv',
 'FCU_Fouling_Heating_Waterside_Severe.csv',
 'FCU_OABlockage.csv',
 'FCU_OADMPRLeak_20.csv',
 'FCU_OADMPRLeak_50.csv',
 'FCU_OADMPRLeak_80.csv',
 'FCU_OADMPRStuck_0.csv',
 'FCU_OADMPRStuck_100.csv',
 'FCU_OADMPRStuck_30.csv',
 'FCU_OADMPRStuck_50.csv',
 'FCU_OADMPRStuck_80.csv',
 'FCU_SensorBias_RMTemp_+2C.csv',
 'FCU_SensorBias_RMTemp_+4C.csv',
 'FCU_SensorBias_RMTemp_-2C.csv',
 'FCU_SensorBias_RMTemp_-4C.csv',
 'FCU_VLVLeak_Cooling_20.csv',
 'FCU_VLVLeak_Cooling_50.csv',
 'FCU_VLVLeak_Cooling_80.csv',
 'FCU_VLVLeak_Heating_20.csv',
 'FCU_VLVLeak_Heating_50.csv',
 'FCU_VLVLeak_Heating_80.csv',
 'FCU_VLVStuck_Cooling_0.csv',
 'FCU_VLVStuck_Cooling_100.csv',
 'FCU_VLVStuck_Cooling_20.csv',
 'FCU_VLVStuck_Cooling_50.csv',
 'FCU_VLVStuck_Cooling_80.csv',
 'FCU_VLVStuck_Heating_0.csv',
 'FCU_VLVStuck_Heating_100.csv',
 'FCU_VLVStuck_Heating_20.csv',
 'FCU_VLVStuck_Heating_50.csv',
 'FCU_VLVStuck_Heating_80.csv']

In [6]:
len(sorted(os.listdir(data_folder)))

49

In [7]:
data_normal = pd.read_csv(join(data_folder, 'FCU_FaultFree.csv'))
data_normal.head()

,Datetime,FCU_CTRL,FAN_CTRL,RM_TEMP,RMCLGSPT,RMHTGSPT,FCU_MAT,FCU_DAT,FCU_RAT,FCU_CVLV,...,FCU_OA_CFM,FCU_DMPR,FCU_DMPR_DM,FCU_SPD,FCU_OAT,FCU_WAT,FCU_MA_HUMD,FCU_OA_HUMD,FCU_DA_HUMD,FCU_RA_HUMD
0,01/01/2018 00:00,2,1,73.84,85.0,55.0,49.94,73.90,73.84,0.0,...,0.88,0.0,0.0,0.0,26.05,0.0,58.78,56.03,41.31,41.39
1,01/01/2018 00:01,2,1,73.84,85.0,55.0,49.94,73.90,73.84,0.0,...,0.88,0.0,0.0,0.0,26.05,0.0,58.78,56.03,41.31,41.39
2,01/01/2018 00:02,2,1,73.63,85.0,55.0,49.83,73.71,73.63,0.0,...,0.88,0.0,0.0,0.0,26.03,0.0,58.97,56.07,41.57,41.65
3,01/01/2018 00:03,2,1,73.43,85.0,55.0,49.72,73.51,73.43,0.0,...,0.88,0.0,0.0,0.0,26.02,0.0,59.15,56.10,41.84,41.91
4,01/01/2018 00:04,2,1,73.25,85.0,55.0,49.63,73.30,73.25,0.0,...,0.88,0.0,0.0,0.0,26.00,0.0,59.32,56.14,42.12,42.13

In [8]:
data_normal.tail()

,Datetime,FCU_CTRL,FAN_CTRL,RM_TEMP,RMCLGSPT,RMHTGSPT,FCU_MAT,FCU_DAT,FCU_RAT,FCU_CVLV,...,FCU_OA_CFM,FCU_DMPR,FCU_DMPR_DM,FCU_SPD,FCU_OAT,FCU_WAT,FCU_MA_HUMD,FCU_OA_HUMD,FCU_DA_HUMD,FCU_RA_HUMD
525595,12/31/2018 23:55,2,1,60.21,85.0,55.0,33.85,51.86,60.21,0.0,...,0.88,0.0,0.0,0.0,7.49,0.0,100.0,54.91,89.80,59.13
525596,12/31/2018 23:56,2,1,60.21,85.0,55.0,33.80,51.82,60.21,0.0,...,0.88,0.0,0.0,0.0,7.40,0.0,100.0,54.92,89.95,59.14
525597,12/31/2018 23:57,2,1,60.20,85.0,55.0,33.75,51.77,60.20,0.0,...,0.88,0.0,0.0,0.0,7.31,0.0,100.0,54.93,90.11,59.15
525598,12/31/2018 23:58,2,1,60.19,85.0,55.0,33.70,51.73,60.19,0.0,...,0.88,0.0,0.0,0.0,7.22,0.0,100.0,54.94,90.26,59.16
525599,12/31/2018 23:59,2,1,60.18,85.0,55.0,33.65,51.69,60.18,0.0,...,0.88,0.0,0.0,0.0,7.12,0.0,100.0,54.96,90.42,59.17

In [9]:
from datetime import datetime

In [10]:
print(f"Min Datetime: {min(data_normal.Datetime)}")
print(f"Max Datetime: {max(data_normal.Datetime)}")
print(f"Interval between measurements: {datetime.strptime(data_normal.Datetime[1], '%m/%d/%Y %H:%M') - datetime.strptime(data_normal.Datetime[0], '%m/%d/%Y %H:%M')}")
print(f"Number of measurements: {len(data_normal.index)}")
print(f"Number of features: {len(data_normal.columns) - 1}")

Min Datetime: 01/01/2018 00:00
Max Datetime: 12/31/2018 23:59
Interval between measurements: 0:01:00
Number of measurements: 525600
Number of features: 29

In [11]:
print("Features:")
print('\n'.join(sorted([el for el in data_normal.columns if el != 'Datetime'])))

Features:
FAN_CTRL
FCU_CLG_EWT
FCU_CLG_GPM
FCU_CLG_RWT
FCU_CTRL
FCU_CVLV
FCU_CVLV_DM
FCU_DAT
FCU_DA_CFM
FCU_DA_HUMD
FCU_DMPR
FCU_DMPR_DM
FCU_HTG_EWT
FCU_HTG_GPM
FCU_HTG_RWT
FCU_HVLV
FCU_HVLV_DM
FCU_MAT
FCU_MA_HUMD
FCU_OAT
FCU_OA_CFM
FCU_OA_HUMD
FCU_RAT
FCU_RA_HUMD
FCU_SPD
FCU_WAT
RMCLGSPT
RMHTGSPT
RM_TEMP